{{template "header.html" .}}

	<div class="masthead">
	<h3 class="muted">Revel Framework Book {{.title}}</h3>
		<div class="navbar">
		  <div class="navbar-inner">
		    <div class="container">
		      <ul class="nav">
		        <li class="active"><a href="#">Home</a></li>
			    <li><a href="../App/List">List</a></li>	      
		        <li><a href="../App/Project">Project</a></li>
		      </ul>
		    </div>
		  </div>
		</div><!-- /.navbar -->
	</div>

    <div class="jumbotron">
		<h1>@ {{.title}} !</h1>
		<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<a class="btn btn-large btn-success" href="#">Get started today</a>
    </div>

    <hr>

	<h1>Hello {{.myName}}</h1>
	<a href="/">Back to form</a>

	<hr>

{{template "footer.html" .}}